<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.programmingtechie.inventoryservice.repositories.mybatis.InventoryMapper">
    
    <sql id="inventoryColumns">
        inventory_id AS id, sku_code, quantity
    </sql>
    
    <insert id="save" useGeneratedKeys="true" keyColumn="inventory_id" keyProperty="id">
        INSERT INTO tbl_inventories(sku_code, quantity)
        VALUES (#{skuCode}, #{quantity});
    </insert>
    
    <select id="findById" resultType="Inventory">
        SELECT <include refid="inventoryColumns"/>
        FROM tbl_inventories
        WHERE inventory_id = #{id};
    </select>
    
    <select id="findBySkuCode" resultType="Inventory">
        SELECT <include refid="inventoryColumns"/>
        FROM tbl_inventories
        WHERE sku_code = #{skuCode};
    </select>
    
    <select id="findAll" resultType="Inventory">
        SELECT <include refid="inventoryColumns"/>
        FROM tbl_inventories;
    </select>
    
    <delete id="deleteById">
        DELETE
        FROM tbl_inventories
        WHERE inventory_id = #{id};
    </delete>
    
    <select id="findAllBySkuCodeIn" resultType="Inventory">
        SELECT <include refid="inventoryColumns"/>
        FROM tbl_inventories
        WHERE sku_code IN
        <foreach collection="params" item="param" open="(" separator="," close=")">
            #{param}
        </foreach>
        ;
    </select>

</mapper>